/*Ina Patrice*/
/*CSS file for website inapatrice.github.io*/
/*stylesheet.css*/

/*pages*/
/*index.html*/
/*aboutme.html*/
/*projects.html*/
/*experience.html*/
/*awards.html*/
/*contact.html*/

/*colors used for the website*/
/*pink: #fc0390*/
/*green: #3cff00*/
/*yellow: yellow*/
/*white: white*/
/*black: black*/
/*purple: #ab24ff*/
/*blue: #00c3ff*/

/*background of webpage*/
body {
	background-color: black;
}

/*header information for the entire page*/
/*website name -- white*/
h1{
	font-family: menlo;
	font-size:55px;
	color: white;
}
/*website name link -- white*/
a.header{
	text-decoration: none;
	color:white;
}
/*page title -- yellow*/
h2 {
	font-family: menlo;
	color: yellow;
}
/*page descriptions -- white*/
h3 {
	font-family: menlo;
	font-weight: lighter;
	color: white;
	margin-top: 10px;
	width:1000px;
}
/*date and time at top of page -- green*/
p {
	font-family: menlo;
	color:#3cff00;
}
/*page menu at top of page -- blue*/
p.pages {
	font-family: menlo;
	font-size: 22px;
	text-align: right;
	margin: auto;
	padding-bottom: 0px;

}

/*blinking cursor code*/
.blinking {
	display: inline-block;
	margin-left: -45px;
}
div {
	font-family: menlo;
	color:white;
	font-weight: thick;
}

/*index.html*/
/*opening message*/
h1.intro {
	font-family: menlo;
	font-size:35px;
	color: yellow;
}
/*fourth year message*/
h1.subtitle {
	font-family: menlo;
	font-size:30px;
	font-weight: lighter;
	color: #ab24ff;
}
/*coding languages*/
h2.specialties {
	font-family: menlo;
	color: #fc0390;
	font-weight: lighter;
	font-size: 20px;
}

/*projects.html*/
/*projects header*/
h2.projectTitle {
	font-family: menlo;
	color: yellow;
}
/*project descriptions*/
.projectInfo {
	font-family: menlo;
	color: white;
	margin-top: -40px;
	max-width: 1300px;
}
/*project language*/
p.projectLang {
	font-family: menlo;
	font-style: italic;
	margin-top: -50px;
	margin-bottom: 55px;
}
/*project title*/
p.projects {
	font-family: menlo;
	font-size: 22px;
	text-align: left;
	color:yellow;
	margin-top: -50px;
}
/*project link*/
a.projectlink{
	text-decoration: none;
	color: #fc0390;
	margin-top: 1px;
}

/*experience.html and awards.html*/
/*company name and award name*/
p.awards {
	font-family: menlo;
	font-size: 22px;
	text-align: left;
	color:#fc0390;
}
/*dates worked*/
div.dates {
	font-family: menlo;
	font-style: italic;
	color: #ab24ff;
	margin-top: -15px;
}
/*position name*/
p.position {
	font-family: menlo;
	font-size: 20px;
	color:#3cff00;
	margin-top: -20px;
}
/*position description*/
.positionInfo {
	font-family: menlo;
	color: white;
}

/*awards.html*/
/*information for awards*/
.awardInfo {
	font-family: menlo;
	color: white;
}
/*dates awards given*/
p.awardDates {
	font-family: menlo;
	font-style: italic;
	color:#3cff00;
	margin-top: -20px;
}

/*aboutme.html*/
/*first line for about me page*/
h3.firstLine {
	font-family: menlo;
	color: white;
}

/*page menu links -- blue*/
a{
	text-decoration: none;
	color:#00c3ff; 
	padding-right: 20px;
	margin:auto;
}
/*link hover color -- purple*/
a:hover {
	color: #ab24ff; 
}


