/*pink*/
h1{
	font-family: menlo;
	font-size:55px;
	color: white;
}

h1.intro {
	font-family: menlo;
	font-size:35px;
	color: yellow;
}

h1.subtitle {
	font-family: menlo;
	font-size:30px;
	font-weight: lighter;
	color: #ab24ff;
}


h2 {
	font-family: menlo;
	color: yellow;
}

h2.specialties {
	font-family: menlo;
	color: #fc0390;
	font-weight: lighter;
	font-size: 20px;
}

h3 {
	font-family: menlo;
	font-weight: lighter;
	color: white;
	margin-top: 10px;
	width:1000px;
}

h2.projectTitle {
	font-family: menlo;
	color: yellow;
}

h3.firstLine {
	font-family: menlo;
	color: white;
}

.projectTitle {
	font-family: menlo;
	color: white;
}

.projectInfo {
	font-family: menlo;
	color: white;
	margin-top: -40px;
	max-width: 1300px;
}

/*gray*/
/*body {
	background-color: #2C2C24;
}*/

body {
	background-color: black;
}

div.dates {
	font-family: menlo;
	font-style: italic;
	color: #ab24ff;
	margin-top: -15px;
}

/*green*/
p {
	font-family: menlo;
	color:#3cff00;
}

p.awards {
	font-family: menlo;
	font-size: 22px;
	text-align: left;
	color:#fc0390;
}

p.awardDates {
	font-family: menlo;
	font-style: italic;
	color:#3cff00;
	margin-top: -20px;
}

.awardInfo {
	font-family: menlo;
	color: white;
}

p.projectLang {
	font-family: menlo;
	font-style: italic;
	margin-top: -50px;
	margin-bottom: 55px;
}

p.position {
	font-family: menlo;
	font-size: 20px;
	color:#3cff00;
	margin-top: -20px;
}

.positionInfo {
	font-family: menlo;
	color: white;
}

p.pages {
	font-family: menlo;
	font-size: 22px;
	text-align: right;
	margin: auto;
	padding-bottom: 0px;

}

p.projects {
	font-family: menlo;
	font-size: 22px;
	text-align: left;
	color:yellow;
	margin-top: -50px;
}

/*pink*/
a.projectlink{
	text-decoration: none;
	color: #fc0390;
	margin-top: 1px;
}

a.header{
	text-decoration: none;
	color:white;
}

/*blue*/
a{
	text-decoration: none;
	color:#00c3ff; 
	padding-right: 20px;
	margin:auto;
}

/*purple hover link*/
a:hover {
	color: #ab24ff; 
}


